# File phate.config controls execution of the PhATE pipeline.

# Genome information and files
# Note: Genome file must contain single contig/fasta
genome_file='Ec_P2_NC_001895.fasta'
genome_type='phage'
species='phage'
name='Ec_P2'
contig='Ec_P2_NC_001895'
output_subdir='Ec_P2/'
genetic_code='11'
translate_only='false'

# Gene callers
# Note: GeneMarkS requires license
gene_caller='thea'
genemarks_calls='false'
prodigal_calls='true'
glimmer_calls='true'
thea_calls='true'

# Blast parameters
blast_identity='60'
blastp_hit_count='3'
blastn_hit_count='3'

# Blast databases to set:
# Genomes: ncbi_virus_blast
# Genes: <not yet in service>
# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
ncbi_virus_blast='true'
ncbi_virus_protein_blast='true'
kegg_virus_blast='true'
phantome_blast='true'
pvogs_blast='true'
refseq_protein_blast='false'
nr_blast='false'

# Other, external annotation
# If you have PSAT output, include the file
# Otherwise, set to 'false' and set psat file to ''
psat_annotation='true'
psat_file='Ec_P2.psat'
