# File phate.config controls execution of the PhATE pipeline.

# Genome information and files
# Note: Genome file must contain single contig/fasta
genome_file='LYP264.fasta'
genome_type='phage'
species='LYP264_phage'
name='LYP264'
contig='LYP264_contig_1'
output_subdir='LYP264/'
genetic_code='11'
translate_only='true'

# Gene callers
# Note: GeneMarkS requires license
gene_caller='phanotate'
genemarks_calls='false'
prodigal_calls='false'
glimmer_calls='false'
phanotate_calls='true'

# Blast databases to set:
# Genomes: ncbi_virus_blast
ncbi_virus_blast='false'
# Genes: refseq_gene_blast
refseq_gene_blast='false'
# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
ncbi_virus_protein_blast='false'
kegg_virus_blast='false'
phantome_blast='false'
pvogs_blast='false'
swissprot_blast='false'
refseq_protein_blast='false'
nr_blast='false'

# HMM database(s) to set:
hmm_program='jackhmmer'       
pvogs_hmm='false'

