# File phate.config controls execution of the PhATE pipeline.

# Genome information and files
# Note: Genome file must contain single contig/fasta
genome_file='LYP264.fasta'
genome_type='phage'
species='LYP264_phage'
name='LYP264'
contig='LYP264_contig_1'
output_subdir='LYP264/'
genetic_code='11'
translate_only='false'

# Gene callers
# Note: GeneMarkS requires license
gene_caller='phanotate'
genemarks_calls='false'
prodigal_calls='false'
glimmer_calls='false'
phanotate_calls='true'

# Blast parameters
blast_identity='60'
blastp_hit_count='3'
blastn_hit_count='3'

# Blast databases to set:
# Genomes: ncbi_virus_blast
ncbi_virus_blast='true'
# Genes: refseq_gene_blast
refseq_gene_blast='false'
# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
ncbi_virus_protein_blast='false'
kegg_virus_blast='false'
phantome_blast='false'
pvogs_blast='false'
swissprot_blast='false'
refseq_protein_blast='false'
nr_blast='false'

# HMM databases to set:
hmm_program='jackhmmer'       
ncbi_virus_protein_hmm='false'
kegg_virus_hmm='false'
phantome_hmm='false'
pvogs_hmm='true'
swissprot_hmm='false'
refseq_protein_hmm='false'
refseq_gene_hmm='false'
nr_hmm='false'

# Other, external annotation
# If you have PSAT output, include the file
# Otherwise, set to 'false' and set psat file to ''
psat_annotation='false'
psat_file=''
